.game {
	margin: 0;
	padding: 0;
	width: 1200px;
	height: 450px;
	position: relative;
}

#pixicanvas {
	box-shadow: 0 0 10px #000000a0;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 0;
	outline: 0;
}

.game__loading_states {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 12;
	font-size: 12px;
	color: #909090;
	pointer-events: none;
}

.game__loading {
	width: 1200px;
	height: 450px;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	font-size: 20px;
	letter-spacing: 2px;
}

.game__loading--hidden {
	display: none;
}

.game__loading_text {
	animation: 0.5s ease-in-out infinite alternate doPulse;
	animation-fill-mode: forwards;
}

.game__loading--hidden .game__loading_text {
	animation: none;
}

.game__loading_done {
	width: 1200px;
	height: 450px;
	display: none;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	position: relative;
	font-size: 20px;
	letter-spacing: 2px;
}

.game__loading_done svg {
	display: block;
}

.game__loading_done--shown {
	display: flex;
}

.game__loading_done__ready {
	margin-bottom: 1.5em;
}

.game__loading_done__hit-enter {
	color: #00e3ff9c;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: normal;
}

.game__loading_done__callout {
	position: absolute;
	display: grid;
	grid-template-columns: auto auto;
	gap: 4px;
	transition: all 1.2s;
	opacity: 0;
}

.game__loading_done__callout--shown {
	opacity: 1;
}

.game__loading_done__callout--audio {
	left: 720px;
	top: 20px;
}

.game__loading_done__callout--keyboard {
	left: 143px;
	bottom: 20px;
}

.game__loading_done__callout-proper {
	border: 2px solid #194044;
	border-radius: 10px;
	padding: 10px 14px;
	background-color: #14262a;
	display: grid;
	grid-template-columns: auto auto;
	gap: 12px;
	align-items: center;
	width: 400px;
	/* height: 100px; */
}

.game__loading_done__callout--audio .game__loading_done__callout-proper {
	width: 355px;
} 

.game__loading_done__callout--keyboard .game__loading_done__callout-proper {
	width: 427px;
} 

.game__loading_done__callout-text {
	color: #ffffffc0;
	text-align: left;
	font-weight: bold;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: normal;
}

.game__loading_done__callout-icon svg {
	fill: #ffffffe0;
}

.game__loading_done__callout-arrow {
	width: 40px;
	height: 40px;
}

.game__loading_done__callout-arrow svg {
	fill: #194044;
	animation: 0.6s ease-in-out infinite alternate doJiggleCalloutArrow;
	animation-fill-mode: forwards;
	/* transform: rotate(90deg); */
}

@keyframes doJiggleCalloutArrow {
	0% {
		transform: translateX(2px) rotate(90deg);
	}
	100% {
		transform: translateX(-2px) rotate(90deg);
	}
}

.game__loading_done__callout--audio .game__loading_done__callout-arrow {
	transform: translateY(4px);
}

.game__loading_done__callout--keyboard .game__loading_done__callout-arrow {
	transform: translateY(23px);
}

.game__messagelayer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	display: flex;
	flex-direction: column;
	pointer-events: none;
}

.game__messagelayer-proper {
	display: flex;
	flex-direction: column;
	opacity: 0;
	transition: opacity 0.4s;
	position: relative;
}

.game__messagelayer-top {
	position: absolute;
	transform: translateY(-18px);
	display: grid;
	grid-template-columns: auto 1fr;
	padding: 0 3em;
}

.game__messagelayer-speaker {
	background-color: #606060;
	border: 1px solid #909090;
	border-radius: 20px;
	padding: 0.3em 1em 0.3em 1.2em;
	color: #ffffffb0;
	font-weight: 700;
	letter-spacing: 0.2em;
	cursor: default;
}

.game__messagelayer-message-queue-readout {
	font-size: 12px;
	font-weight: bold;
	position: absolute;
	bottom: 51px;
	padding-left: 17px;
	width: 146px;
	text-align: center;
	color: #ffffff87;
	opacity: 0.7;
}

.game__messagelayer-proper--dialog .game__messagelayer-speaker {
	background-color: #407684;
	border-color: #4c93a4;
	color: rgb(0, 225, 255);
}

.game__messagelayer-message {
	flex-grow: 1;
	background-color: #303030;
	padding: 27px 8em 0.5em;
	margin: 0 1em 2.6em;
	border: 1px solid #909090;
	border-radius: 10px;
	box-shadow: 0 0 10px #ffffff90;
	cursor: default;
	opacity: 0.7;
}

.game__messagelayer-proper--dialog .game__messagelayer-message {
	background-color: #2b4349;
	border-color: #4c93a4;
}

.game__messagelayer-where-and-when {
	font-style: italic;
	font-size: 13px;
	text-align: left;
	color: #ffffff87;
	padding-bottom: 3px;
}

.game__messagelayer-message-text {
	font-size: 1.1em;
	line-height: 1.6em;
	text-align: justify;
}

.game__messagelayer-message-text p {
	margin: 0;
	padding: 0;
	padding-top: 9px;
}

.game__messagelayer-message-text p:first-child {
	padding-top: 0;
}

.game__messagelayer-key {
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: #00e3ff9c;
	padding-top: 0.4em;
}

.game__alertsAndWarnings {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	display: flex;
	/* display: none; */
	flex-direction: column;
	gap: 1em;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity ease-in-out 1s;
	pointer-events: none;
}

.game__alertsAndWarnings--shown {
	opacity: 1;
}

.game__alertsAndWarnings-warnings,
.game__alertsAndWarnings-alerts {
	padding: 0.6em 0.8em;
	text-transform: uppercase;
	font-weight: 700;
	background-color: #000;
	border: 5px solid var(--msg-color);
	color: var(--msg-color);
	box-shadow: 0 0 5px var(--msg-color), inset 0 0 7px var(--msg-color);
	text-shadow: 0 0 5px var(--msg-color);
	animation: none;
	display: none;
}

.game__alertsAndWarnings-warnings {
	--msg-color: #e6b632;
}

.game__alertsAndWarnings-alerts {
	--msg-color: #e63232;
}

.game__alertsAndWarnings-warnings--shown,
.game__alertsAndWarnings-alerts--shown {
	animation: 0.5s ease-in-out infinite alternate doPulse;
	animation-fill-mode: forwards;
	display: block;
}

@keyframes doPulse {
	0% {
		transform: scale(0.95, 0.95);
		opacity: 0.8;
	}
	100% {
		transform: scale(1, 1);
		opacity: 1;
	}
}

.game__plates {
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	z-index: 8;
	pointer-events: none;
}

.game__plates_plate {
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	opacity: 0;
}

.game__plates_plate_atl,
.game__plates_plate_btl {
	color: #ffffffd0;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1em;
	transform: translateX(0.5em);
	cursor: default;
	padding: 0 2em;
}

.game__plates_plate_atl {
	font-size: 12px;
}

.game__plates_plate_line {
	margin: 15px auto 0;
	border-bottom: 1px solid #ffffffa0;
	width: 1000px;
	animation: none;
}

.game__plates_plate_line--shown {
	animation: 15s linear stretchLine;
}

@keyframes stretchLine {
	0% {
		width: 300px;
	}
	100% {
		width: 1000px;
	}
}

.game__plates_plate_btl {
	margin-top: 40px;
	margin-bottom: 20px;
	font-size: 24px;
	line-height: 1.5em;
}

.game__plates_matte {
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	background-color: #000000;
	opacity: 0;
}

.game__intro {
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
	display: none;
}

.game__intro-plate {
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	display: none;
	justify-content: center;
	flex-direction: column;
	gap: 1em;
}

.game__intro-plate--visible {
	display: flex;
}

.game__intro-plate__big-text {
	text-transform: uppercase;
	font-size: 22px;
	color: white;
	letter-spacing: 3px;
	opacity: 0;
	transition: opacity ease-in-out 1s;
}

.game__intro-plate__small-text {
	text-transform: uppercase;
	font-size: 12px;
	color: #909090;
	letter-spacing: 3px;
	opacity: 0;
	transition: opacity ease-in-out 1s;
}

.game__main_menu {
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	z-index: 4;
	display: flex;
	flex-direction: column;
	align-items: center;
	visibility: hidden;
}

.game__main_menu--shown,
.game__main_menu--quickshow {
	visibility: visible;
}

.game__main_menu_logo {
	width: 365px;
	height: 175px;
	margin-top: 75px;
	opacity: 0;
}

.game__main_menu_logo svg {
	display: block;
}

.game__main_menu--shown .game__main_menu_logo {
	opacity: 1;
	transition: opacity 1.6s ease-in-out 1s;
}

.game__main_menu--quickshow .game__main_menu_logo {
	opacity: 1;
	transition: opacity 1s ease-in-out;
}

.game__main_menu_version {
	margin-top: 26px;
	font-size: 12px;
	color: #ffffff50;
	opacity: 0;
}

.game__main_menu--shown .game__main_menu_version {
	opacity: 1;
	transition: opacity 1.6s ease-in-out 3s;
}

.game__main_menu--quickshow .game__main_menu_version {
	opacity: 1;
	transition: opacity 1s ease-in-out;
}

.game__pause {
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
	/* background-color: #000000c0; */
	opacity: 0;
	visibility: hidden;
}

.game__pause-text {
	text-align: center;
	margin-top: 11px;
	font-size: 0.8em;
	letter-spacing: 1em;
	padding-left: 1em;
	color: #ffffffc0;
	animation: none;
}

.game__pause--show {
	opacity: 1;
	visibility: visible;
	transition: opacity ease 0.5s;
}

.game__pause--show .game__pause-text {
	animation: 0.5s ease-in-out infinite alternate doPulse;
}

.game__pause-objectives {
	text-align: left;
	padding: 56px 10px 12px;
	height: 300px;
	font-size: 12px;
}

.game__pause-objectives-title {
	margin-bottom: 3px;
	font-weight: bold;
}

.game__pause-objectives-list {
	margin: 0;
	padding-left: 2em;
}

.game__pause-objective {
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.game__pause-objective--yellow {
	color: #e6b632;
}

.game__pause-objective--red {
	color: #ff7676;
}

.game__pause-objective--green {
	color: #37d837;
}

.game__log {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background-color: #ffffff10;
	display: none;
	/* set to display: flex; to show */
	cursor: pointer;
	transition: background-color ease 0.25s;
}

.game__log:hover,
.game__log--expanded,
.game__log--hidden.game__log--expanded {
	background-color: #ffffff15;
}

.game__log--hidden {
	background-color: #ffffff00;
}

.game__log-proper {
	flex: 1 0;
	font-size: 0.7em;
	text-align: left;
	margin-left: 5px;
	margin-top: 1px;
	margin-bottom: 0;
	opacity: 1;
	transition: opacity ease 0.25s;
	height: 25px;
	overflow-y: hidden;
	line-height: 2em;
	padding: 0 0 2px;
}

.game__log--hidden .game__log-proper {
	opacity: 0;
}

.game__log--hidden.game__log--expanded .game__log-proper {
	opacity: 1;
}

.game__log:hover .game__log-proper,
.game__log--expanded .game__log-proper {
	opacity: 1;
}

.game__log--expanded .game__log-proper {
	margin-top: 5px;
	margin-bottom: 5px;
	height: 90px;
}

.game__log--expanded .game__log-proper--with-scrollbar {
	overflow-y: scroll;
}

.game__log-proper .time {
	color: #ffffff60;
}

.game__log-proper .white {
	color: #ffffff;
}

.game__log-proper .aqua {
	color: #70d2ff;
}

.game__log-proper .gray {
	color: #c3c3c3;
}

.game__log-proper .red {
	color: #ff7676;
}

.game__log-proper .yellow {
	color: #e6b632;
}

.game__log-proper .green {
	color: #37d837;
}

.game__log-proper .dark_green {
	color: #29a829;
}

.game__log-expand {
	flex: 0 0;
	margin: 0 5px;
}

.game__log-expand-chevron {
	transform: scale(0.6) rotate(90deg);
	margin-top: 0;
	transition: transform ease 0.1s;
}

.game__log--expanded .game__log-expand-chevron {
	margin-top: 11px;
}

.game__log-expand-chevron-path {
	transition: stroke ease 0.25s;
}

.game__log-expand-chevron-path,
.game__log:hover .game__log-expand-chevron-path,
.game__log--hidden.game__log--expanded .game__log-expand-chevron-path {
	stroke: #ffffffff;
}

.game__log--hidden .game__log-expand-chevron-path {
	stroke: #ffffff60;
}

.game__log:hover .game__log-expand-chevron {
	transform: scale(0.6) rotate(0deg);
}

.game__log--expanded:hover .game__log-expand-chevron {
	transform: scale(0.6) rotate(180deg);
}

.game__hud {
	height: 56px;
	top: 0;
	left: 0;
	right: 0;
	position: absolute;
	z-index: 5;
	display: flex;
}

.game__hud-proper {
	height: 0px;
	display: flex;
	overflow-y: hidden;
	transition: height var(--hud-slide-time) var(--hud-slide-function)
		var(--hud-fade-time);
}

.game__hud--visible .game__hud-proper {
	height: 56px;
	transition: height var(--hud-slide-time) var(--hud-slide-function);
}

.game__hud-coords-and-lives {
	width: 264px;
	margin-left: 8px;
	height: 56px;
	text-align: center;
	line-height: 12px;
	opacity: 0;
	transform: translateY(-56px);
	transition: all var(--hud-slide-time) var(--hud-slide-function)
		var(--hud-fade-time);
}

.game__hud--visible .game__hud-coords-and-lives {
	transform: translateY(0px);
	opacity: 1;
	transition: all var(--hud-slide-time) var(--hud-slide-function);
}

.game__hud-lives {
	font-size: 12px;
	padding-top: 12px;
	color: transparent;
	/* text-shadow: 0 0 0 #ffffff60; */
	cursor: default;
}

.game__hud-lives-life--unused {
	text-shadow: 0 0 0 #ffffff60;
}

.game__hud-lives-life--lost {
	text-shadow: 0 0 0 #ff7070ff;
}

.game__hud-lives-life--available {
	text-shadow: 0 0 0 #ffffffff;
}

.game__hud-lives-life--current {
	text-shadow: 0 0 0 rgb(104, 242, 255);
}

.game__hud-coords {
	font-size: 10px;
	padding-top: 8px;
	opacity: 0.7;
	cursor: default;
}

.game__hud-left-edge {
	background: bottom left url('./assets/hud--left-edge.png') no-repeat;
	width: 21px;
}

.game__hud-right-edge {
	background: bottom left url('./assets/hud--right-edge.png') no-repeat;
	width: 21px;
}

.game__hud-player-desc,
.game__hud-target-desc {
	background: bottom left url('./assets/hud--stretch.png') repeat-x;
	width: 152px;
	text-align: center;
}

.game__hud-id-text {
	font-size: 12px;
	text-transform: uppercase;
	line-height: 14px;
	overflow: hidden;
	margin-top: 9px;
	opacity: 0;
	transition: opacity var(--hud-fade-time) ease-in-out;
}

.game__hud-target-id--friendly {
	color: #37d837;
}

.game__hud-target-id--neutral {
	color: #e6b632;
}

.game__hud-target-id--hostile {
	color: #ff6161;
}

.game__hud-contents-text {
	margin-top: 4px;
	font-size: 11px;
	line-height: 14px;
	color: #ffffff70;
	overflow: hidden;
	opacity: 0;
	transition: opacity var(--hud-fade-time) ease-in-out;
}

.game__hud-contents-text--unknown {
	color: #ffffff40;
}

.game__hud-contents-text--irrelevant {
	color: #ffffff70;
}

.game__hud-contents-text--illicit {
	color: #ff5353;
}

.game__hud-contents-text--missionObjective {
	color: #32ade6;
}

.game__hud--visible .game__hud-id-text,
.game__hud--visible .game__hud-contents-text {
	opacity: 1;
	transition: opacity var(--hud-fade-time) ease-in-out var(--hud-slide-time);
}

.game__hud-meters {
	background: bottom left url('./assets/hud--middle.png') no-repeat;
	width: 310px;
}

.game__hud-meters-proper {
	opacity: 0;
	transition: opacity var(--hud-fade-time) ease-in-out;
}

.game__hud--visible .game__hud-meters-proper {
	opacity: 1;
	transition: opacity var(--hud-fade-time) ease-in-out var(--hud-slide-time);
}

.game__hud-meter {
	position: absolute;
	width: 100px;
	height: 9px;
}

.game__hud-meters .meter-text {
	display: block;
	height: 9px;
	font-size: 7px;
	padding: 0;
	margin: 0;
	line-height: 9px;
	width: 100px;
	text-align: center;
	position: absolute;
	z-index: 7;
	top: 0;
	overflow: hidden;
}

.game__hud-meters .meter-text--disabled {
	background: center url('./assets/hud--disabled.png') no-repeat;
	color: #ffffff00;
}

.game__hud-meters .meter-bar {
	display: block;
	width: 100px;
	height: 1px;
	margin-top: 4px;
	position: absolute;
	z-index: 6;
	background-color: #909090;
	top: 0;
}

#game__hud-meter-player-shield .meter-bar,
#game__hud-meter-target-shield .meter-bar {
	background-color: #32ade6;
}

#game__hud-meter-player-hull .meter-bar,
#game__hud-meter-target-hull .meter-bar {
	background-color: #ff5353;
}

#game__hud-meter-player-system .meter-bar,
#game__hud-meter-target-system .meter-bar {
	background-color: #e6b632;
}

#game__hud-meter-player-shield {
	margin-top: 10px;
	margin-left: 40px;
}

#game__hud-meter-player-hull {
	margin-top: 20px;
	margin-left: 40px;
}

#game__hud-meter-player-system {
	margin-top: 30px;
	margin-left: 40px;
}

#game__hud-meter-target-shield {
	margin-top: 10px;
	margin-left: 170px;
}

#game__hud-meter-target-hull {
	margin-top: 20px;
	margin-left: 170px;
}

#game__hud-meter-target-system {
	margin-top: 30px;
	margin-left: 170px;
}

#game__hud-meter-target-hull-bar {
	width: 100px;
}

.game__finishers {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	display: none;
	/* set to display: flex; to show */
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	background: #151515;
	margin: 8px;
}

.game__finishers__form {
	border: 1px solid #194044;
	background: #14262A;
	color: white;
	padding: 4px 24px;
	margin-top: 12px;
}

.game__finishers__form__field {
	display: flex;
	gap: 12px;
	margin-bottom: 6px;
}

.game__finishers__form label {
	width: 130px;
	text-align: right;
	font-size: 0.8em;
	color: #32bfe6;
}

.game__finishers__form input {
	background: black;
	border: 2px inset #194044;
	border-radius: 0;
	color: white;
	font-weight: bold;
	font-size: 0.8em;
	outline: 0;
	padding: 0 5px;
	width: 300px;
}

.game__finishers__form input::selection {
	background-color: #32bfe6;
	color: black;
}

.game__finishers__form button {
	outline: 0;
	border: 2px outset #194044;
	background-color: #0f7e9d;
	color: white;
	border-radius: 0;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.7em;
	padding: 5px 10px;
	margin-top: 5px;
	cursor: pointer;
}

.game__finishers__form button:hover, .game__finishers__form button:focus, .game__finishers__form button:active {
	background-color: #26a8cb;
}

.game__finishers__preview h2 {
	font-size: 0.7em;
	font-weight: normal;
	color: gray;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	margin-top: 9px;
}

.game__finishers__preview h2 .hall-of-finishers-link {
	text-decoration: none;
}

.finishers-entry {
	width: 1100px;
	/* height: 286px; */
	overflow: hidden;
	background-color: #3a3730;
	background: linear-gradient(137deg, #3a3730 0%, #565547 10%, #3a3730 35%, #3a3730 50%, #545343 75%, #3a3730 100%);
	border: 1px solid #766741;
	border-right-color: #543b00;
	border-bottom-color: #543b00;
}

.finishers-entry__proper {
	margin: 16px;
	border: 5px double #ffc52185;
	border-radius: 16px;
	padding: 18px 24px;
	position: relative;
}

.finishers-entry__stars-wrapper {
	position: absolute;
	width: 1098px;
	transform: translate(-45px, -36px);
	/* background: green; */
	display: flex;
	justify-content: center;
}

.finishers-entry__stars {
	color: #d7ad4a;
	background-color: #3a3730;
	padding: 3px 48px;
	font-size: 22px;
	cursor: default;
}

.finishers-entry__readout {
	margin-top: 6px;
}

.finishers-entry .finishers-entry__readout:first-child {
	margin-top: 0;
}

.finishers-entry__readout-label {
	text-transform: uppercase;
	font-size: 0.7em;
	letter-spacing: 0.7em;
	transform: translateX(0.35em);
	color: #ffffff40;
}

.finishers-entry__nickname {
	font-weight: bold;
	font-size: 1.1em;
}

.finishers-entry__url {
	font-size: 0.8em;
	color: gray;
}

.finishers-entry__url a, .finishers-entry__url span {
	color: gray;
}

.finishers-entry__bottom-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}